{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "targets": [
          "> 1%",
          "last 2 versions",
          "Firefox ESR",
          "ie 10"
        ]
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
      [
        "@babel/plugin-transform-runtime",
        {
          "regenerator": true
        }
    ]
  ]
}
