{
  "extends": ["airbnb/base", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-console": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
