@import url("./vars.css");

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: var(--white);
  font-family: var(--font);
}

.root {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  min-width: 1024px;

  padding: 32px;

  background-color: var(--black);
}

.section {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 0;
  margin: auto;
}