@import url("./vars.css");

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: var(--white);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 1024px;

  padding: 32px;

  background-color: var(--black);
}

.section {
  height: 100%;
  width: 100%;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 90px;
  font-weight: 400;
  font-family: var(--font-second);
  z-index: 2;
}

.desc {
  font-size: 18px;
  line-height: 20px;
  color: var(--gray);
  z-index: 2;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 35px;
  margin: 0;
  border: 0;
  border-radius: 25px;
  background-color: var(--green);
  color: var(--white);
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;

  transition: background-color 200ms ease;
}

.button:hover {
  background-color: var(--green-dark);
}

.button__icon {
  margin-right: 5px;
}

.rocket {
  width: 100px;
  height: 100px;

  position: absolute;

  z-index: 1;

  animation-name: test;
  animation-duration: 19s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rocket__flame {
  animation-name: flame;
  animation-duration: 200ms;
  animation-iteration-count: infinite;
}

.rocket__red-flame {
  transform: translate(-9px, -4px);
}

@keyframes flame {

  from {
    transform: scale(1) translate(0, 0);
  }

  to {
    transform: scale(.8) translate(45px, 88px);
  }
}

@keyframes test {

  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  90% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate(1150px, -1150px);
  }
}
